name: Build NuGet Package

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build-nuget:
    if: contains(github.event.head_commit.message, '@nuget')
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Restore and Build NuGet packages
        run: msbuild src/MonoTorrent.sln /nologo /restore /t:Pack /p:Configuration=Release

      - name: Upload NuGet packages
        uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: '**/*.nupkg'
